/* 
Today on Wednesday July 26th, 2023 I am practicing flexbox. 
    Today I finish Chapter 8 "Out of Order" of Flexbox Zombies.
      Which focused on "ORDERS"   of individual flex items. 
*/

/* 
  Today on Thursday July 27th, 2023 I practiced more flexbox.
    Today I started and completed Chapter 9 "Get your own Line"
      Which focused on "flex-wrap", items wrapping to new lines. or wrap-reverse on to new lines.  
      Went over the difference between those two and how they impact the flex container's "justify-content"  and "align-items" properties
*/

/* 
  Today on Friday July 28th, 2023 I practiced more flexbox.
    Today I started and completed Chapter 10 "Read between the Lines"
      Which focused on "align-content" 
      
      Went over the difference between how they impact the flex container's "justify-content"  and "align-items" properties
*/

/* 
  Today on Tuesday August 1st, 2023 I practiced more flexbox.
    Today I started and completed Chapter 11 "Shortcut to the Kill"
      Which focused on short hand expressions for commonly used flex properties  
        it taught us the way to write the short hand expression for flex-grow, flex-shrink, and flex-basis in that order using "flex" 
            example: flex: 1 0 200px;
            it also uses the "auto" keyword to set flex-basis to auto, flex-grow to 1, and flex-shrink to 1
            example: flex: auto;
            it also uses the "none" keyword to set flex-grow to 0, flex-shrink to 0, and flex-basis to auto
            example: flex: none;
        it also taught us the short hand expression for flex-wrap and flex-direction in that order using "flex-flow"
            example: flex-flow: row wrap;



*/